#panel-background {
    background-color: black;
}

#links-social-media .fa{
    padding: 9px;
    font-size: 20px;
    width: 35px;
    height:35px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 100%;
}
#links-social-media .fa:hover {
    text-decoration: none;
    color:black;
}

#links-social-media .fa-facebook{
    background: black;
    color: white;
}

#links-social-media .fa-facebook:hover {
    background: white;
    color: black;
}

#links-social-media .fa-twitter{
    background: black;
    color: white;
}

#links-social-media .fa-twitter:hover {
    background: white;
    color: black;
}

#links-social-media .fa-google{
    background: black;
    color: white;
}

#links-social-media .fa-google:hover {
    background: white;
    color: black;
}

#links-first-line {
    font-size: 11px;
    vertical-align: middle;
}

#links-first-line a {
    color: white;
    text-decoration:none;
}

#links-first-line a:hover {
    color: #91E772;
    text-decoration:none;
}
#links-first-line a:active {
    color: #91E772;
    text-decoration:none;
}

#links-second-line {
    font-size: 11px;
    color: white;
    vertical-align: middle;
}

#links-second-line a {
    color: white;
    text-decoration:none;
}

#links-second-line a:hover {
    color: #91E772;
    text-decoration:none;
}
#links-second-line a:active {
    color: #91E772;
    text-decoration:none;
}

@media only screen and (min-width:768px) {
    #links-first-line {
        font-size: 14px;
        vertical-align: middle;
    }
    #links-second-line {
        font-size: 12px;
        color: white;
        vertical-align: middle;
    }

}
@media only screen and (min-width:992px) {
    #links-first-line {
        font-size: 16px;
        vertical-align: middle;
    }
    #links-second-line {
        font-size: 13px;
        color: white;
        vertical-align: middle;
    }
}
@media only screen and (min-width:1200px) {
    #links-first-line {
        font-size: 18px;
        vertical-align: middle;
    }
    #links-second-line {
        font-size: 15px;
        color: white;
        vertical-align: middle;
    }
    }