#headerNavbar{
    /*padding-top:35px;*/
    background-color: white;
    color:black;
    
   /*display: none;
    position: absolute;*/
}

#headerNavbar .navbar-header .navbar-toggle{
    width:15%;
    padding-bottom:20px;
}
.navbar-header{
    padding-top:35px;
    padding-bottom:20px;
}
#myNavbar .navbar-nav{
    padding-top:40px;
    padding-bottom:15px;
}
@media only screen and (min-width:992px) {
    #myNavbar .navbar-nav li a:hover{
        border-bottom: 3px solid black;
    }
}